@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.recipes-header, 
h1 {
  font-family: "Trebuchet MS";
  font-size: 35px;
}

img {
  display: block;
  width: 500px;
}

.recipe-container {
  width: min-content;
}

.main-container, 
.recipe-container {
  background-color: white;
  padding: 30px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}


.main-body {
  background-color: white;
  margin: 0;
}

body {
  background-color: #FBE8DC;
}

.main-container {
  width: 500px;
  height: 800px;
}

p, 
li,
a {
  font-family: Roboto;
  font-size: 15px;
}

h2 {
  font-family: "Trebuchet MS";
  color: #8B4513;
}

h1 {
  text-align: center;
}

.recipes {
  text-align: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #8B4513;
}

.header {
  background-color: black;
  padding: 8px 20px;
}

.header,
.recipes {
  display: flex;
  align-items: center;
}

.recipes {
  gap: 20px;
}

.recipes-logo {
  margin-left: 0px;
  margin-right: auto;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-family: Lato;
}

.button {
  color: white;
  font-family: Lato;
}

